#updating-container {
	display: none;
}

.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 0px 20px 0px;
  border: 1px solid #c0c0c0;
  border-radius: .2rem;
  text-align: center;
}

.flash {
	height: 30px;
	width: 100%;
	background-color: #278BD2;
	color: #000;
	text-align: center;
	padding: 8px 0 0 0;
	display: none;
}

.button {
	box-shadow: none;
	color: white;
	border-radius: .2rem;
	background-color: #278BD2;
	padding: 10px 30px;
	margin: 10px auto;
	border: none;
}

.form-field {
	margin: 0 auto;
	border-radius: .2rem;
	border: solid 1px #c0c0c0;
	line-height: 2;
	resize: none;
}

.logo {
	width: 75px;
	height: 75px;
	margin-top: 20px;
	padding: 0;
}

.spinner {
	height: 35px;
	width: 35px;
}

form {
	margin: 0 auto;
}

input{
   text-align:center;
}

h1 {
	margin-top: 0;
}

h3 {
	margin-bottom: 0;
}